/* Styles for mobile screens */
@media screen and (max-width: 768px) {
  body {
    position: relative;
    padding-bottom: 120px;
  }

  header {
    height: auto;
    text-align: center;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 0;
  }

  .header-content .left-header {
    order: 2;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .header-content .left-header .image {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
    margin-left: 0;
  }

.header-content .left-header .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
    filter: grayscale(100%);
  }

  .header-content .left-header .image:hover img {
    filter: grayscale(0);
  }

  .header-content .right-header {
    order: 1;
    padding: 0;
    margin-top: 10px
  }

  .controls {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Styles for tablets and small desktop screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .controls {
    margin-top: -40px;
    right: 40%;
    transform: translateX(50%);
  }
}

/* Styles for larger desktop screens */
@media screen and (min-width: 1025px) {
  .controls {
    margin-right: 50px;
    right: 10%;
    margin-top: -200px;
  }
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #a599b5;
  --color-secondary: #3c3c3c;
  --color-white: #ffffff;
  --color-black: #000000;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: var(--color-black);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--color-primary) center/cover no-repeat;
  margin-top: -200px;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 100px;
}

.header-content .left-header {
  position: relative;
  display: flex;
  align-items: center;
}

.header-content .left-header .h-shape {
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.header-content .left-header .image {
  border-radius: 50%;
  height: 50%;
  width: 50%;
  overflow: hidden;
}

.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}

.header-content .left-header .image:hover img {
  filter: grayscale(0);
}

.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
}

.header-content .right-header .name {
  font-size: 3rem;
  color: var(--color-white);
  margin-bottom: 1rem;
}

.header-content .right-header .name span {
  color: var(--color-white);
}

.header-content .right-header p {
  color: var(--color-white);
  margin-bottom: 2rem;
  line-height: 1.5;
}

.header-content .right-header .btn-con {
  display: flex;
}

.header-content .right-header .main-btn {
  border-radius: var(--br-sm-2);
  color: var(--color-white);
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-white);
  display: flex;
  align-self: flex-start;
  padding: 0.7rem 1.5rem;
  transition: all 0.3s ease;
}

.header-content .right-header .main-btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}


.project-text {
  color: var(--color-white);
  font-weight: 600;
  top: 50%;
  right: 4rem;
  transform: translate(40%, -50%);
  padding: 0.7rem 1.5rem;
  transition: all 0.3s ease;
  position: absolute;
  margin-top: -20px;
  margin-right: 500px;
}


.project-text a {
  color: #4a4a4a;
  font-weight: bold;
  
}

.bold-link {
  font-weight: bold;
}


.header-content .right-header .btn-text {
  padding-right: 1rem;
}

#projects {
  text-align: center;
  margin: 50px auto; 
  margin-top: -200px;
}

#projects h2 {
  color: #ffffff;/* White color */
  font-size: 40px; /* Font size 24 pixels */
  text-align: center; /* Center-aligned text */
  margin-bottom: 30px;
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 900px; /* Set a maximum width for the grid */
  margin: 0 auto; /* Center the grid horizontally */
}

.project {
  background-color: #4a4a4a; /* Adjust the background color as needed */
  color: #ffffff; /* White text color */
  padding: 20px;
  border-radius: 10px; /* Add rounded corners if desired */
  text-align: center;
}

.project a {
  color: #ffffff; /* White link color */
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.project a:hover {
  text-decoration: underline;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.controls .control {
  font-size: 34px;
  margin-left: 20px;
  color: var(--color-white);
  transition: all 0.3s ease;
}

.controls .control:hover {
  font-size: 40px;
  transform: scale(1.2);
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

footer p {
  color: #ffffff; /* White text color */
  font-size: 12px; /* Adjust font size as needed */
}






